<a href="https://colab.research.google.com/github/roughkyo7/2022dataset_test/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_1%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(len(str(1242 ** 1541)))

4769

In [ ]:
print('hello world')

hello world

In [ ]:
name='파이썬'

In [ ]:
print(name)

파이썬

In [ ]:
숫자=452
print(숫자)

452

In [ ]:
name='파이썬'
print(2022, name+'님! 안녕하세요!')

2022 파이썬님! 안녕하세요!

In [26]:
name='파이썬'
print(2022, name, '님! 안녕하세요!')

2022 파이썬 님! 안녕하세요!

In [ ]:
name=input('이름을 입력해주세요 : ')
print(name+'님 안녕하세요!')

이름을 입력해주세요 : 홍길동
홍길동님 안녕하세요!

In [25]:
age=int(input('나이를 입력해주세요 : '))
print(age - 4)

나이를 입력해주세요 : 30
26

In [28]:
# 다양한 값을 넣어보며 연습해보세요.
print(3 * 10) # * : 곱셈 연산자
print(3 ** 10) # ** : 거듭 제곱 연산자
print(3 % 10) # % : 나머지 연산자
print(3 / 2) # / : 실수 나눗셈
print(3 // 2) # // : 정수 나눗셈

30
59049
3
1.5
1

In [30]:
# 다양한 값을 넣어보며 연습해보세요.
print(10 >= 3)
print(10 <= 3)
print(10 == 3) # == : 같다
print(10 != 3) # != : 같지 않다
print(3 % 2 == 1)

True
False
False
True
True

In [32]:
# 다양한 값을 넣어보며 연습해보세요.
print(1 == 1 and 2 != 1) # True and True
print(10 % 2 != 0 or 1 + 1 > 0) # False or True

True
True

In [34]:
# 다양한 값을 넣어보며 연습해보세요.
print(10 < 5 or 10 == 5) # False or False
print(10 % 2 != 0 or 1 + 1 > 0) # False or True

False
True

In [35]:
# 다양한 값을 넣어보며 연습해보세요.
print(not 10 > 5) # not True
print(not 10 == 5) # not False
print(not 0) # 0은 False에 해당
print(not 10) # 0을 제외한 숫자도 True에 해당

False
True
True
False

In [39]:
import random
dice = random.randint(1,6)
print(dice)

4

In [40]:
import math
print(math.sqrt(2))

1.4142135623730951